<style>
   /* HEADER */ .navbar { position: fixed; top: 0; left: 0; width: 100%; background-color: #45a050; padding: 10px; display: flex; justify-content: space-between; } .home a:hover{ border-radius: 1rem; color: black; } .nav { list-style: none; margin: 0; padding: 0; } .nav li { font-size: 3rem; margin-right: 20px; display: inline; } .nav a { color: white; text-decoration: none; } .nav a:hover { border-radius: 1rem; color: black; } .left p a{ font-size: 3rem; text-decoration: none; color: white; } /* FIN DEL HEADER */ main{ margin-top: 6.7rem; } header { background-color: black; margin-bottom: 1rem; text-align: center; width: 100%; } header h1 { color: white; font-size: 4rem; } /* Wrapper profile*/ .wrapper { display: flex; justify-content: center; align-items: center; height: 79vh; background-color: #4caf50; } .profile-container { background-color: white; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); padding: 20px; width: 300px; } .profile-container h2 { margin-top: 0; margin-bottom: 20px; text-align: center; } .botonVerde { background-color: #4caf50; border: none; cursor: pointer; font-size: 16px; padding: 10px 5px; border-radius: 3px; width: 100%; text-decoration: none; } .botonVerde:hover { background-color: #45a049; } .profile-container a { display: block; text-align: center; margin-top: 15px; color: white; text-decoration: none; } .profile-container a:hover { text-decoration: none; } .logout{ margin-top: 1rem; background-color: black; border: none; cursor: pointer; font-size: 16px; padding: 10px 10px; border-radius: 3px; width: 100%; color: white; } .datos{ list-style: none; } .datos li{ padding-bottom: 10px; font-size: 1rem; }
</style>

<main>
   <header>
      <h1>Mi Perfil</h1>
   </header>

   <div class="wrapper">
      <div class="profile-container">
         <h2>Datos del usuario</h2>
         <div>
            <ul class="datos">
               <li>Bienvenido, {{user.nombre}} {{user.apellido}}!</li>
               <li>Email: {{user.email}}</li>
               <li>Rol: {{user.role}}</li>
            </ul>
            
            {{#if this.isAdmin}}
               <a class="botonVerde" href="/realtimeproducts">Modificar Productos</a>
               <a class="botonVerde" href="/api/users/admin">Lista de usuarios</a>
            {{else}}
               {{#if this.isPremium}}
                  <a class="botonVerde" href="/realtimeproducts">Panel Premium</a>
               {{/if}}
               <a class="botonVerde" href="/products">Ir a productos</a>
               <a class="botonVerde" href="/chat">Chat de la comunidad</a>
            {{/if}}

            <form action="/api/users/logout" method="POST">
               <button class="logout" type="submit">Logout</button>
            </form>
         </div>
      </div>
   </div>
</main>